<mat-card class="video-item">
	<img mat-card-image [src]="video.img" alt="Video image" />
	<mat-card-title class="video-item__title">{{ video.title }}</mat-card-title>
	<mat-card-content>
		<mat-card-subtitle>views: {{ video.viewCount }}</mat-card-subtitle>
		<mat-card-subtitle>data: {{ video.createdDate }} </mat-card-subtitle>
	</mat-card-content>
	<mat-card-actions class="video-item__actions">
		<mat-card-subtitle (click)="toogleFavorite()">like: {{ video.favorite }}</mat-card-subtitle>
		<i class="material-icons" (click)="onClickVideo(index)">delete</i>
	</mat-card-actions>
</mat-card>
