<mat-card class="video-item" [ngClass]="{ list: (grid$ | async) === false }">
	<a routerLink="/{{ video.videoId }}/video">
		<img class="video-item__image" mat-card-image [src]="video.img" alt="Video image"
	/></a>
	<mat-card-title class="video-item__title" [ngClass]="{ title__list: (grid$ | async) === false }">{{
		video.title
	}}</mat-card-title>
	<mat-card-content [ngClass]="{ content__list: (grid$ | async) === false }">
		<mat-card-subtitle>views: {{ video.viewCount }}</mat-card-subtitle>
		<mat-card-subtitle>data: {{ video.createdDate | date }} </mat-card-subtitle>
	</mat-card-content>
	<mat-card-actions class="video-item__actions">
		<mat-icon class="video-item__icon" (click)="toogleFavorite()" [ngStyle]="{ color: video.favourite ? 'white' : '' }"
			>favorite</mat-icon
		>
		<mat-icon class="video-item__icon" (click)="onClickVideo(index)">delete</mat-icon>
	</mat-card-actions>
</mat-card>
