<mat-card class="video-item">
	<img mat-card-image [src]="video.img" alt="Video image" />
	<mat-card-title class="video-item__title">{{ video.title }}</mat-card-title>
	<mat-card-content>
		<mat-card-subtitle>views: {{ video.viewCount }}</mat-card-subtitle>
		<mat-card-subtitle>data: {{ video.createdDate | date }} </mat-card-subtitle>
	</mat-card-content>
	<mat-card-actions class="video-item__actions">
		<mat-icon
			class="video-item__actions__icon"
			(click)="toogleFavorite()"
			[ngStyle]="{ color: video.favourite ? 'white' : '' }"
			>favorite</mat-icon
		>
		<mat-icon class="video-item__actions__icon" (click)="onClickVideo(index)">delete</mat-icon>
	</mat-card-actions>
</mat-card>
