<mat-toolbar class="sort">
	<div class="sort__action">
		<button class="sort__action__button" (click)="onDemoLoad()">demo</button>
		<button class="sort__action__button" (click)="onDeleteAll()">
			Clear all
			<i class="material-icons sort__action__button__icon">delete</i>
		</button>
	</div>
	<div class="sort__action">
		<button class="sort__action__button" mat-menu-item (click)="onFromOldToNew()">od najstarszych</button>
		<button class="sort__action__button" mat-menu-item (click)="onFromNewToOld()">od najnowszych</button>
	</div>
	<div class="sort__action">
		<mat-icon class="sort__action__icon">list</mat-icon>
		<mat-icon class="sort__action__icon">view_module</mat-icon>
	</div>
</mat-toolbar>
