@import "styles";

.videos {
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80vw;
  height: 600px;
  margin-top: 45px;
  background-color: gray;
  padding: 5px;
  flex-wrap: wrap;
  box-shadow: none;

  &__paginator {
    background-color: $grean2;
  }
}
