/* You can add global styles to this file, and also import other style files */

$grean1: rgba(242,234,118,1);
$grean2: rgba(135,140,2,1);



html, body { height: 100%; }
body { 
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  
  background-color: gray; 
}
